<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" size="16x16" href="images/favicon.ico">
    
    {% block css %}
    <link rel="stylesheet" href="css/styles.min.css">
    {% endblock %}

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block main_body %}{% endblock %}
    
    {% block js %}
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- jquery 3.3.1-->
        <script src="js/popper.min.js"></script>
        <!-- popper for bootstrap-->
        <script src="js/bootstrap.min.js"></script>
        <!-- bootstrap-->
        <script src="js/scripts.js"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>