{% extends '_base.html' %}

{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block title %}Sample Title{% endblock %}

{% block main_body %}
    <button class="btn btn-primary"><i class="fas fa-user"></i>bootstrap working pug!</button>
    <div class="container">
      <div class="row">
        <div class="col-5">grid 5</div>
        <div class="col-7">
          <div class="d-flex">flex grid 7</div>
        </div>
      </div>
    </div>
{% endblock %}

